@media (max-width:740px)  {/*Nhỏ hơn or bằng 800px thì chạy */
    /* * {
        box-sizing: content-box;
    } */
    .s-full-width {
            width: 100% !important;
    }
    .s-col-full{
        width: 100%;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        padding :5 41px;
        color: #fff;
    }
    #header {
        overflow: hidden;
    }
    #header .mobie-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    /* #content .member-item{
        margin-top: 30px;
        width: 100%;
    } */
    #content .member-img{
        width: 60%;
    }
    .col{
        float: none;
    }
    .col-half{
        width: auto;
    }
    .mt-8 {
        margin-top: 0px !important;
    }
}
@media(max-width :1023px){
    .btn {
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    .secial-list{
        font-size: 48px;
        margin: 0 8px;
    }
    #footer .socials-list a {
        margin: 0 8px;
    }
}